<html ng-app="project">
    <head>
        <style>
            body {
                width: 80%;
                margin: 0 auto;
                font-family: Arial, Helvetica, sans-serif;
            }

            .clear {
                clear: both;
            }

            #selectedProductId {
                position: fixed;
                top: 20px;
                left: 20p;
            }

            #messagesContainer {
                height: 100%;
                padding: 2%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
            }

            #messages {
                flex: 1;
                overflow-y: auto;
            }

            .message {
                margin: 15px 0;
            }

            .messageContainer {
                max-width: 30%;
                padding: 15px;
                border-radius: 10px;
            }

            .messageContainer.you {
                float: right;
                color: white;
                background-color: deepskyblue;
            }

            .messageContainer.machine {
                float: left;
                background-color: lightgray;
            }

            .from {
                padding: 5px 0;
                font-weight: bolder;
            }

            #inputs {
                padding: 15px 0;
                display: flex
            }

            #productIdInput {
                height: 30px;
                margin-right: 10px;
            }

            #contentInput {
                height: 30px;
                flex: 1;
            }

            #sendButton {
                width: 70px;
                height: 30px;
                margin-left: 10px;
            }
        </style>
        <script src="/public/js/libs/jquery-3.3.1.min.js"></script>
        <script src="/public/js/libs/angular.min.js"></script>
        <script src="/public/js/libs/socket.io.js"></script>
        <script src="/public/js/client.js"></script>
        <title>Project</title>
    </head>
    <body ng-controller="projectController">
        <div id="selectedProductId">{{ productId }}</div>
        <div id="messagesContainer">
            <div id="messages">
                <div class="message" ng-repeat="message in messages">
                    <div class="messageContainer" ng-class="message.from">
                        <div class="from">{{ message.from }}</div>
                        <div class="content">{{ message.content }}</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="inputs">
                <select id="productIdInput" ng-model="productId" ng-options="productId for productId in productIds"></select>
                <input id="contentInput" type="text" ng-model="content" ng-keydown="$event.keyCode === 13 && sendMessage()"/>
                <button id="sendButton" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </body>
</html>